<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice number:</strong>
  <%= @invoice.invoice_number %>
</p>

<p>
  <strong>Pen number:</strong>
  <%= @invoice.pen_number %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @invoice.quantity %>
</p>

<p>
  <strong>Tax kdv:</strong>
  <%= @invoice.tax_kdv %>
</p>

<p>
  <strong>Tax otv:</strong>
  <%= @invoice.tax_otv %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @invoice.definition %>
</p>

<p>
  <strong>Value date:</strong>
  <%= @invoice.value_date %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @invoice.sum %>
</p>

<p>
  <strong>Product:</strong>
  <%= @invoice.product_id %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
